# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.env
*.venv/
env/
*.egg-info/
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerignore
docker-compose.override.yml
*.swp
*.bak

# Pytest / Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Node / frontend (if used)
node_modules/
npm-debug.log
yarn-error.log

# Secrets
.env